#contentCol {
    margin: 15px 0px 0px;
    padding: 0px;
}
#contentArea {
    margin: 0px !important;
}
#itemContent{
    overflow: auto;
}
#itemContent .row{
    margin: 0px;
    padding: 0px;
}
#itemTitle{
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 10px;
}
#it-ttle{
    font-size: 20px;
    color: #333333;
    margin: 0px;
}
#rates{
    margin-left: 5px;
}
#ad_image{
    padding-left: 0px;
    min-height: 490px;
}
#ad_image img.ad_l_image{
    width: 450px;
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
}
#ad_image #slider_images{
    padding-left: 0px;
    padding-right: 0px;
}
#slider{
    padding: 0px;
}
#slider_thumb_container{
    float: left;
}
#slider_thumbs{
    margin: 5px 0px;
    list-style: none;
    text-align: left;
}
#slider_thumbs img{
    margin-bottom: 5px;
    width: 80px;
    border: 2px solid #22313f;
    border-radius: 3px;
    transition: border .25s linear,opacity .25s linear;
}
#item_det{
    padding-right: 0px;
}
#short_disc{
    width: 665px;
    padding: 5px 10px;
    background-color: #FDFDFD;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-right: 5px;
    float: left;
}
#short_disc h4{
    margin: 5px 0px;
    color: green;
    font-weight: bold;
    font-size: 14px;
}
#short_disc p{
    text-align: justify;
    line-height: 20px;
}
#publisher{
    font-weight: bold;
    line-height: 24px;
    color: #0654BA;
}
#badges{
    margin-left: 5px;
}
#propPanel{
    /*min-height: 365px;
    padding: 5px 10px;
    margin: 5px 0px;
    background-color: #FDFDFD;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: -6px 4px 1px #EEE;*/
}

#pub_view .panel-heading, #propPanel .panel-heading{
    background-color: #363D40;
    color: #EEEEEE;
    text-align: center;
}
#pub_view .panel-title, #propPanel .panel-title{
    font-size: 14px;
    font-weight: bold;
}
.shadow {
    position: relative;
    z-index: -1;
    height: 9px;
    width: 350px;
    top: -36px;
    box-shadow: 5px 15px 10px #777;
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(-3deg);
}

.ad_views{
    color: #DD1E31;
    font-weight: bold;
    margin: 5px 0px 10px;
    display: inline-block;
}
.ad_view_pub_img{
    margin-right: 10px;
    vertical-align: -3px;
}
.rate_img{

}
.propLab{
    font-size: 14px;
    text-align: left;
    color: #666;
    width: 25%;
    padding-right: 13px;
    font-weight: bold;
    word-wrap: break-word;
    display: inline-block;
    line-height: 30px;
}

.desc_read_m {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:6px 4px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    float: right;
}
.desc_read_m:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
    color: #ffffff;
}
.desc_read_m:active {
    position:relative;
    top:1px;
}
.list-inline > li{
    padding: 0px !important;
}