#main-wrap{
    margin-top: 55px;
    background-color: #FFFFFF;
}
#MainContentCol{
    width: 100%;
}
#MainContentCol .ui.shape {
    display: block;
}
#MainContentCol .ui.shape h2{
    line-height: 40px;
}
#slogan{
    margin-bottom: 0px;
    color: #990066;
    text-shadow: 0px 2px 0px rgba(255, 255, 250, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.35);
    text-align:center;
}
#cityBack{
    height: 60px;
    margin: 0px -20px;
    background-image: url("../img/city.png");
}
#testimo{
    cursor: pointer;
    color: #FFFFFF !important;
}
#contentArea{
    background-color: #F5F5F5;
    padding:20px 0px;
}
#contentArea .pointText{
    padding: 5px;
}
#contentArea .pointText .cat-con{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background-color: #FFFFFF;
}
#contentArea .pointText h3{
    text-align: center;
}

/* ########### classes ################# */
.intro{
    min-height: 20px;
    padding: 19px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #F6F6F6;
    border: 1px solid #d4d4d4;
    border-radius: 0px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.pointText{
    width: 75%;
}
.divisionBar{
    margin-top: 10px;
    width: 100%;
    bottom: 0px;
    clear: left;
}
.globalConIn{
    width: 1170px;
    height: 70px;
    margin: 0px auto;
    background-image: url("../img/bg-insiderdeal-banner.png");
}

/* ########### Group ################# */

#mainBan #introImg{
    float: right;
}
#mainBan .ban_imgs_con, #mainBan .ban_imgs_con_hor{
    padding: 0px !important;
}
#mainBan .ban_imgs_con img, #mainBan .ban_imgs_con_hor img{
    width: 100%;
}
#mainBan .ban_imgs_con .ban_imgs{
    padding: 0px 15px 0px 0px;
}
#mainBan .ban_imgs_con_hor .ban_imgs:nth-child(2){
    margin-top: 10px;
}
#mainBan .row{
    margin: 0px;
}
#main-wrap .intro{
    padding: 0px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
