
#MainContentCol{
    width: 100%;
}
#slogan{
	margin-bottom: 0px;
	color: #d0983c;
	text-align:center;
}
#miniSlogan{
	margin-top: 10px;
	color: #656565;
	text-align:center;
	font-size: 16px;
}
#mainIntro{
    overflow: auto;
}
#introTxt{
    width: 70%;
    float: left;
}
#cityBack{
    height: 60px;
    margin: 0px -20px;
    background-image: url("../img/city.png");
}

/* ########### classes ################# */
.intro{
    min-height: 20px;
    padding: 19px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #F6F6F6;
    border: 1px solid #d4d4d4;
    border-radius: 0px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.pointText{
    width: 75%;
}
.divisionBar{
    margin-top: 10px;
    width: 100%;
    background-color: #EBEBEB;
    height: 70px;
    bottom: 0px;
    clear: left;
}
.globalConIn{
    width: 1170px;
    height: 70px;
    margin: 0px auto;
    background-image: url("../img/bg-insiderdeal-banner.png");
}

/* ########### Group ################# */

#mainIntro #introImg{
    float: right;
}
#mainIntro #introImg img{
    width: 320px;
}