.m {
  background-color: #ffffcc;
}
.n {
  color: #999;
}
.o {
  color: #AA0000;
  background-color: #ffaaaa;
}
.p {
  color: #006699;
}
.q {
  color: #555555;
}
.r {
  color: #999;
}
.s {
  color: #009999;
}
.t {
  color: #999;
}
.u {
  color: #999;
}
.v {
  background-color: #FFCCCC;
  border: 1px solid #cc0000;
}
.w {
  font-style: italic;
}
.x {
  color: #ff0000;
}
.y {
  color: #003300;
}
.z {
  background-color: #CCFFCC;
  border: 1px solid #00cc00;
}
.aa {
  color: #aaaaaa;
}
.ab {
  color: #000099;
}
.ac {
  color: #003300;
}
.ad {
  color: #99cc66;
}
.ae {
  color: #006699;
}
.af {
  color: #006699;
}
.ag {
  color: #006699;
}
.ah {
  color: #006699;
}
.ai {
  color: #006699;
}
.aj {
  color: #007788;
}
.ak {
  color: #ff6600;
}
.al {
  color: #d44950;
}
.am {
  color: #4f9fcf;
}
.an {
  color: #336666;
}
.ao {
  color: #00AA88;
}
.ap {
  color: #336600;
}
.aq {
  color: #9999ff;
}
.ar {
  color: #999999;
}
.as {
  color: #CC0000;
}
.at {
  color: #cc00ff;
}
.au {
  color: #9999ff;
}
.av {
  color: #00CCFF;
}
.aw {
  color: #2f6f9f;
}
.ax {
  color: #003333;
}
.ay {
  color: #000000;
}
.az {
  color: #bbbbbb;
}
.ba {
  color: #ff6600;
}
.bb {
  color: #ff6600;
}
.bc {
  color: #ff6600;
}
.bd {
  color: #ff6600;
}
.be {
  color: #cc3300;
}
.bf {
  color: #cc3300;
}
.bg {
  color: #CC3300;
  font-style: italic;
}
.bh {
  color: #cc3300;
}
.bi {
  color: #CC3300;
}
.bj {
  color: #cc3300;
}
.bk {
  color: #aa0000;
}
.bl {
  color: #cc3300;
}
.bm {
  color: #33aaaa;
}
.bn {
  color: #cc3300;
}
.bo {
  color: #ffcc33;
}
.bp {
  color: #336666;
}
.bq {
  color: #003333;
}
.br {
  color: #003333;
}
.bs {
  color: #003333;
}
.bt {
  color: #ff6600;
}
.bu .q,
.bu .q + .aw,
.bu .aw + .aw {
  color: #999;
}
.a {
  padding: 15px;
  margin: 15px -15px;
  background-color: #f5f5f5;
}
@media (min-width: 768px) {
  .a {
    padding: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  }
}
.a pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}
.a pre code {
  font-size: inherit;
  color: #1e3948;
}
@media (min-width: 768px) {
  .bv + .a {
    border-width: 0 1px 1px;
    border-radius: 0 0 3px 3px;
  }
}
body {
  overflow-x: hidden;
  padding-bottom: 40px;
}
.bw {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #3097d1;
  background-image: linear-gradient(to bottom, #216a94, #3097d1);
}
.bw h1 {
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 1;
}
.bw p {
  font-weight: 300;
  line-height: 1.4;
  color: #add6ed;
}
@media (min-width: 768px) {
  .bw {
    font-size: 24px;
  }
  .bw h1 {
    font-size: 60px;
  }
}
@media (min-width: 1260px) {
  .bw h1,
  .bw p {
    max-width: 75%;
  }
}
#contents {
  display: none;
}
#markdown-toc {
  padding-left: 0;
  margin-top: 30px;
  font-size: 13px;
  list-style: none;
}
#markdown-toc a {
  display: block;
  padding: 2px 10px 2px 10px;
}
#markdown-toc a:hover {
  text-decoration: none;
}
#markdown-toc > li {
  margin-bottom: 5px;
}
#markdown-toc > li:first-child {
  display: none;
}
#markdown-toc ul {
  list-style: none;
  padding-left: 20px;
}
#markdown-toc ul ul {
  display: none;
}
@media (min-width: 768px) {
  #markdown-toc {
    float: right;
    width: 220px;
    margin-right: -250px;
  }
  #markdown-toc a {
    color: #536570;
    padding-left: 20px;
  }
  #markdown-toc ul {
    display: none;
  }
  #markdown-toc > .active > ul {
    display: block;
  }
  #markdown-toc .active > a {
    padding-left: 18px;
    color: #3097d1;
    background-color: transparent;
    border-left: 2px solid #3097d1;
  }
  #markdown-toc.affix {
    top: 0;
  }
}
.docs-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #e4ecf2;
}
.docs-top:hover,
.docs-top:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .docs-top {
    display: block;
  }
}
.bx {
  margin-bottom: 20px;
  font-size: 20px;
}
.bx .h {
  padding: 5px;
}
@media (max-width: 768px) {
  .by .bz {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 0;
  }
}
.docs-content {
  font-size: 16px;
}
.docs-content > h1 {
  padding-bottom: 10px;
  margin: 44px 0 22px;
  border-bottom: 1px solid #d4dbe0;
}
.docs-content > h1 + p {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .docs-content > h1 + p {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .docs-content {
    padding-right: 265px;
  }
}
.bv {
  position: relative;
  padding: 20px;
  margin: 20px -15px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.bv:before,
.bv:after {
  content: " ";
  display: table;
}
.bv:after {
  clear: both;
}
.bv + .a {
  margin-top: -20px;
}
@media (min-width: 768px) {
  .bv {
    margin-left: 0;
    margin-right: 0;
    border-radius: 3px 3px 0 0;
  }
}
.bv + p {
  margin-top: 30px;
}
.bv > *:last-child {
  margin-bottom: 0;
}
.bv .by {
  width: auto;
}
.bv > .dropdown-menu:first-child {
  position: static;
  display: block;
}
.bv > .ca {
  max-width: 300px;
}
@media (max-width: 768px) {
  .bv .cb {
    display: inline-block;
    margin: 5px;
  }
}
.bv.cc {
  background-color: #fafafa;
}
.bv .cd {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.bv .modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}
.bv .ce {
  max-width: 90%;
}
.bv.cf {
  text-align: center;
}
.bv.cf > .cg {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bv.ch .tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
}
.bv.ci {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}
.bv.ci .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}
.bv > .cg {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bv > .cj {
  max-width: 500px;
}
.bv .modal-content {
  box-shadow: none !important;
}
