#advertiseCon {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 5px;
}

.colBox{
    height: 250px;
    width: 275px;
    text-align: center;
    background-color: #f6f7f8;
    border: 5px solid #e9eaed;
    color: #141823;
}
.topnBot-buffer {
    margin-top: 10px;
    margin-bottom: 10px;
}

@font-face {
    font-family: "JF Flat Regular";
    src: url("http://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot");
    src: url("http://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot?#iefix") format("embedded-opentype"), url("http://f9ir.github.io/acc/acc/font/JF-Flat-regular.svg#JF Flat Regular") format("svg"), url("http://f9ir.github.io/acc/acc/font/JF-Flat-regular.woff") format("woff"), url("http://f9ir.github.io/acc/acc/font/JF-Flat-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    background: #f6704b;
}

* {
    margin: 0;
    padding: 0;
}

.accordion {
    margin: 50px auto;
    width: 380px;
    background: #ccc;
    cursor: pointer;
}
.accordion .item {
    height: 75px;
}
.accordion .item h3 {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding-left: 50px;
    font-family: "JF Flat Regular";
    font-size: 20px;
    font-weight: 400;
}
.accordion .item img {
    padding-left: 15px;
    width: 30px;
    vertical-align: middle;
}
.accordion .item h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
/*.accordion .item:first-of-type {
    background: #620808;
    color: #f4ce74;
}
.accordion .item:nth-of-type(2) {
    background: #a53f3f;
    color: #ffe9c1;
}
.accordion .item:nth-of-type(3) {
    background: #f4ce74;
    color: #620808;
}
.accordion .item:nth-of-type(4) {
    background: #ffe9c1;
    color: #d5441c;
}
.accordion .item:last-of-type {
    background: #d5441c;
    color: #ffe9c1;
}*/
.accordion p {
    font-family: "JF Flat Regular";
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    display: none;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2);
}
.accordion .item {
    background: #8E4497;
    border-bottom: 2px solid #843f8d;
    color: #ffffff;
}
/*.accordion p:first-of-type {
    background: #620808;
    color: #f4ce74;
}
.accordion p:nth-of-type(2) {
    background: #a53f3f;
    color: #ffe9c1;
}
.accordion p:nth-of-type(3) {
    background: #f4ce74;
    color: #620808;
}
.accordion p:nth-of-type(4) {
    background: #ffe9c1;
    color: #d5441c;
}
.accordion p:last-of-type {
    background: #d5441c;
    color: #ffe9c1;
}*/
