#contentCol {
    margin: 15px 0px 0px;
    padding: 0px;
}
#contentArea {
    margin: 0px !important;
}
#itemContent{
    overflow: auto;
}
#itemContent .row{
    margin: 0px;
    padding: 0px;
}
#itemTitle{
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 10px;
}
#it-ttle{
    font-size: 20px;
    color: #333333;
    margin: 0px;
}
#ad_image{
    padding-left: 0px;
    min-height: 490px;
}
#ad_image img.ad_l_image{
    width: 450px;
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
}
#ad_image #slider_images{
    padding-left: 0px;
    padding-right: 0px;
}
#slider{
    padding: 0px;
}
#slider_thumb_container{
    float: left;
}
#slider_thumbs{
    margin: 5px 0px;
    list-style: none;
    text-align: left;
}
#slider_thumbs img{
    margin-bottom: 5px;
    width: 4.45em;
    border: 1px solid #22313f;
    border-radius: 2px;
    transition: border .25s linear,opacity .25s linear;
}
#item_det{
    padding-right: 0px;
}
#short_disc{
    /*width: 665px;*/
    padding: 5px 10px;
    background-color: #FDFDFD;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
}
#short_disc h4{
    margin: 10px 0px;
    font-weight: bold;
    font-size: 14px;
}
#short_disc p{
    text-align: justify;
    line-height: 20px;
}
#publisher{
    font-weight: bold;
    line-height: 24px;
    color: #0654BA;
}
#badges{
    margin-left: 5px;
}
#prop_panel_con{
    padding-left: 0px;
}
#comments{
    padding: 0px;
}
#cont_share_box{
    padding: 0px;
    text-align: center;
}
#share_box .fa{
    margin-right: 5px !important;
}
#con_box2{
    margin: 10px 0px;
}
#con_box .ui.button{
    margin-bottom: 10px;
}
#con_box .ui.button, #share_box .ui.button{
    padding: 0.78571429em 0.89em 0.78571429em;
    width: 98%;
}
#share_box .ui.button{
    width: 95%;
}
#biz_type{
    font-size: 16px;
    margin-top: 4px;
}

.panel-heading{
    padding: 6px 10px;
    background: #990066;
    background: -moz-linear-gradient(top,#603 0%,#906 100%);
    background: -webkit-linear-gradient(top,#603 0%,#906 100%);
    background: linear-gradient(to bottom,#603 0%,#906 100%);
}
.panel-title{
    color: #ffffff !important;
    font-size: 15px;
}
.panel-default{
    border-color: #d3e0e9 !important;
}

.ad_views{
    color: #DD1E31;
    font-weight: bold;
    margin: 5px 0px 10px;
    display: inline-block;
}
.ad_view_pub_img{
    margin-right: 10px;
    vertical-align: -3px;
}
.propLab{
    font-size: 14px;
    text-align: right;
    color: #990066;
    width: 45%;
    padding-right: 15px;
    font-weight: bolder;
    word-wrap: break-word;
    display: inline-block;
    line-height: 30px;
}
.propVal{
    color: #4e4e4e;
    font-weight: bold;
}

.desc_read_m {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:6px 4px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    float: right;
}
.desc_read_m:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
    color: #ffffff;
}
.desc_read_m:active {
    position:relative;
    top:1px;
}
.list-inline > li{
    padding: 0.01em !important;
}