#MainContentCol{
    margin-top: 55px;
    padding-left: 0px;
    padding-right: 0px;
}
#MainContentCol .ui.shape {
    display: block;
}
#MainContentCol .ui.shape h2{
    line-height: 40px;
}
#slogan{
    margin-bottom: 0px;
    color: #3B5998;
    text-shadow: 0px 5px 1px rgba(255,255,255,0.5);
    text-align: center;
    font-size: 40px;
    margin-top: -3px;
}
#cityBack{
    height: 60px;
    margin: 0px -20px;
    background-image: url("../img/city.png");
}
#testimo{
    cursor: pointer;
    color: #FFFFFF !important;
}
#contentArea{
    background-color: #F5F5F5;
    padding:20px 0px;
}

/* ########### classes ################# */
.intro{
    min-height: 20px;
    padding: 19px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #F6F6F6;
    border: 1px solid #d4d4d4;
    border-radius: 0px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.pointText{
    width: 75%;
}
.divisionBar{
    margin-top: 10px;
    width: 100%;
    bottom: 0px;
    clear: left;
}
.globalConIn{
    width: 1170px;
    height: 70px;
    margin: 0px auto;
    background-image: url("../img/bg-insiderdeal-banner.png");
}

/********************* Cover ***********************/
#cover-con{
    min-height: 290px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#99d4e1+0,edf7ff+91,78b825+100 */
    background: #99d4e1; /* Old browsers */
    background: -moz-linear-gradient(top,  #99d4e1 0%, #edf7ff 91%, #78b825 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #99d4e1 0%,#edf7ff 91%,#78b825 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #99d4e1 0%,#edf7ff 91%,#78b825 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d4e1', endColorstr='#78b825',GradientType=0 ); /* IE6-9 */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media screen and (min-width: 320px) {
  .navbar-toggle {
    display: none;
  }
  #cover-con{
    min-height: 210px;
  }
  #cover-con h1#site_url {
    text-shadow: -1px 1px 0px;
    padding: 6px;
    width: 100%;
    color: #225A86;
  }
  #cover-con h2#main_slogan{
    width:100%;
    top: 10%;
    color: #990066;
  }
  #cover-con h3#sub_slogan{
    width:100%;
    top: 22%;
  }
  #cover-con h4#mini_slogan{
    width: 100%;
    top: 34%;
  }
  #cover-con h1#site_url, #cover-con h2#main_slogan, #cover-con h3#sub_slogan, #cover-con h4#mini_slogan{
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .anim-slide img#bwindev {
    left: 37% !important;
  }
}

@media screen and (min-width: 800px) {
  .anim-slide img#bwindev {
    left: 38% !important;
  }
}
@media screen and (min-width: 980px) {
  .anim-slide img#bwindev {
    left: 40% !important;
  }
}
@media screen and (min-width: 1440px) {
  .anim-slide img#bwindev {
    left: 43% !important;
  }
}
@media screen and (min-width: 2560px) {
  .anim-slide img#bwindev {
    left: 47% !important;
  }
}
/* ########### Group ################# */

#mainBan #introImg{
    float: right;
}
#mainBan .ban_imgs_con, #mainBan .ban_imgs_con_hor{
    padding: 0px !important;
}
#mainBan .ban_imgs_con img, #mainBan .ban_imgs_con_hor img{
    width: 100%;
}
#mainBan .ban_imgs_con .ban_imgs{
    padding: 0px 15px 0px 0px;
}
#mainBan .ban_imgs_con_hor .ban_imgs:nth-child(2){
    margin-top: 10px;
}
#mainBan .row{
    margin: 0px;
}
#main-wrap .intro{
    padding: 0px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

/*************************************************/
/****************               ******************/
/****************     Slider    ******************/
/****************               ******************/
/*************************************************/
.anim-slide h1
    {
    color:#225A86;
    font-size: 40px;
    }
    .anim-slide h2
    {
    font-size: 35px;
    }
    /*.anim-slide h3
    {
    font-size: 30px;
    }*/
    .anim-slide h4
    {
    color: #6F7C82;
    font-size: 25px;
    }
    .anim-slide h2, .anim-slide h3{
    color: #212A40;
    }
    .anim-slide h1#site_url{text-shadow: -1px 1px 0px;padding: 6px;width:100%;}
    .anim-slide h2#main_slogan{ width:100%;top: 10%;}
    .anim-slide h3#sub_slogan{width:100%;top: 22%;}
    .anim-slide h4#mini_slogan{width: 100%;top: 34%;}
    .anim-slide img#bwindev{left: 44%;top: 50%;width: 190px;}
    .anim-slide img#football, .anim-slide img#iphone, .anim-slide img#bag, .anim-slide img#car, .anim-slide img#iron, .anim-slide img#tv, .anim-slide img#watch, .anim-slide img#house, .anim-slide img#antenna, .anim-slide img#baby, .anim-slide img#bed, .anim-slide img#camera, .anim-slide img#cart, .anim-slide img#champagne, .anim-slide img#desktop, .anim-slide img#diamond, .anim-slide img#dinner, .anim-slide img#dress, .anim-slide img#drink, .anim-slide img#drum-set, .anim-slide img#electric-guitar, .anim-slide img#flowers, .anim-slide img#gamepad, .anim-slide img#gift, .anim-slide img#handshake, .anim-slide img#hdd, .anim-slide img#headphone, .anim-slide img#laptop, .anim-slide img#light, .anim-slide img#mortarboard, .anim-slide img#pendrive, .anim-slide img#phone-book, .anim-slide img#pizza, .anim-slide img#placeholder, .anim-slide img#ram, .anim-slide img#report, .anim-slide img#shirt, .anim-slide img#shoes, .anim-slide img#washing{height: 12%; opacity: 0.15}

    .anim-slide img#gift{top:5%; left: 10%;}
    .anim-slide img#bag{top: 5%; left: 19%;}
    .anim-slide img#handshake{top:5%; left: 28%;}
    .anim-slide img#hdd{top:5%; left: 35%;}
    .anim-slide img#gamepad{top: 5%; left: 62%;}
    .anim-slide img#shirt{top:5%; left: 69%;}
    .anim-slide img#headphone{top:5%; left: 77%;}
    .anim-slide img#iphone{top:5%; left: 85%;}

    .anim-slide img#laptop{top:22%; left: 12%;}
    .anim-slide img#light{top:22%; left: 21%;}
    .anim-slide img#mortarboard{top:22%; left: 31%;}
    .anim-slide img#report{top: 22%; left: 65%;}
    .anim-slide img#pendrive{top:22%; left: 72%;}
    .anim-slide img#phone-book{top:22%; left: 81%;}

    .anim-slide img#baby{top: 40%; left: 11%;}
    .anim-slide img#bed{top: 40%; left: 20%;}
    .anim-slide img#watch{top: 40%; left: 28%;}
    .anim-slide img#pizza{top: 40%; left: 35%;}
    .anim-slide img#tv{top: 40%; left: 63%;}
    .anim-slide img#champagne{top: 40%; left: 70%;}
    .anim-slide img#washing{top: 40%; left: 77%;}
    .anim-slide img#camera{top: 40%;  left: 85%;}

    .anim-slide img#iron{top: 60%; left: 18%;}
    .anim-slide img#desktop{top: 60%; left: 83%;}
    .anim-slide img#diamond{top: 60%; left: 68%;}
    .anim-slide img#dinner{top: 60%; left: 27%;}
    .anim-slide img#dress{top: 60%; left: 35%;}
    .anim-slide img#electric-guitar{top: 60%; left: 75%;}
    .anim-slide img#flowers{top: 60%; left: 61%;}
    .anim-slide img#ram{top: 60%; left: 10%;}

    .anim-slide img#drink{top: 81%; left: 85%;}
    .anim-slide img#house{top: 81%;left: 30%;}
    .anim-slide img#car{top: 81%;left: 60%;}
    .anim-slide img#antenna{top: 81%;}
    .anim-slide img#cart{top: 81%; left: 11%;}
    .anim-slide img#shoes{top: 83%; left: 21%;}
    .anim-slide img#football{top: 81%;left: 41%;}
    .anim-slide img#drum-set{top: 81%; left: 70%;}
    .anim-slide img#placeholder{top:81%; left: 78%;}


    .anim-slide img#luk_future{left: 10%;top: 45%;}
    .anim-slide img#meeting_img{left: 43%;top: 40%;}
    .anim-slide img#barchart{left: 75%;top: 40%;}
    .anim-slide h3#todo{top: 0%;left: 20%;}
    .anim-slide h3#bounce{top: 15%;left: 47%;}
    .anim-slide h3#bounceUp{top: 15%;left: 15%;}
    .anim-slide h4#bounceRight{top: 15%;left: 75%;}
    .anim-slide h3#fade{top:15%;left: 77%;}
    .anim-slide h4#fadeDown{top: 43%;left: 28%;}
    .anim-slide h4#fadeUp{top: 31%;left: 28%;}
    .anim-slide h3#rotate{top: 50%;left: 49%;}
    .anim-slide h4#rotateRight{top: 50%;left: 61%;}
    .anim-slide h4#rotateLeft{top: 50%;left: 80%;}


    .anim-slide img#css3{left: 35%;top: 40%;}
    .anim-slide img#html5{left: 52%;top: 1%;}
    .anim-slide img#jquery{top: 60%;left: 41%;}
    .anim-slide img#modernizr{width:260px;top: 75%;left: 20%;}
    .anim-slide h2#animatecss{top: 69%;left: 60%;color: #f35626;}
    .anim-slide h3#ubw{left: 30%;top: 10%;}
    .anim-slide h3#boosty{left: 65%; top: 62%;}

  div#demo{text-align: center;}
  div#demo>a{display:inline-block;text-decoration: none;}
  div#demo>a>h4{padding: 5px 8px;margin: 20px;background-color: #225A86;color: #fff;box-shadow:inset 0 -2px 0 rgba(0,0,0,0.15);}
  p#credits{z-index:-1;position: fixed;bottom: 0px;width: 100%;text-align: center;font-size: 14px;}
  p#credits>a{font-weight: bold;color: #999;text-decoration: none;}
  img#github-logo{z-index:-1;position: fixed;bottom: -20px;right: 2%;opacity: 0.4;}
/*************************************************/
  .mb-btn{
    padding: 8px 38px !important;
  }
