
#MainContentCol{
    width: 100%;
}
#slogan{
	margin-bottom: 0px;
	color: #FFFFFF;
	text-align:center;
  line-height: 30px;
}
#miniSlogan{
	margin-top: 10px;
	color: #FFFFFF;
	text-align:center;
	font-size: 16px;
  line-height: 20px;
}
#mainIntro{
    overflow: auto;
}
#introTxt{
    width: 70%;
    float: left;
}
#cityBack{
    height: 60px;
    margin: 0px -20px;
    background-image: url("../img/city.png");
}

/* ########### classes ################# */
.intro{
    min-height: 20px;
    padding: 19px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #F6F6F6;
    border: 1px solid #d4d4d4;
    border-radius: 0px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.pointText{
    width: 75%;
}
.divisionBar{
    margin-top: 10px;
    width: 100%;
    background-color: #EBEBEB;
    height: 70px;
    bottom: 0px;
    clear: left;
}
.globalConIn{
    width: 1170px;
    height: 70px;
    margin: 0px auto;
    background-image: url("../img/bg-insiderdeal-banner.png");
}

/* ########### Group ################# */
#signup-pn{
  display: none;
}
#mainIntro #introImg{
    float: right;
}
#mainIntro #introImg img{
    width: 320px;
}

/* new with sign in and up */
#m-con{
  margin: 0px;
}
#hssignin, #hssignup, #topBarContent ul{
  display: none !important;
}
#bg1{
  margin-top: 55px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db25c9+0,ddd3fd+51,2b9ae9+100 */
  background: rgb(219,37,201); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(219,37,201,1) 0%, rgba(221,211,253,1) 51%, rgba(43,154,233,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(219,37,201,1) 0%,rgba(221,211,253,1) 51%,rgba(43,154,233,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(219,37,201,1) 0%,rgba(221,211,253,1) 51%,rgba(43,154,233,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db25c9', endColorstr='#2b9ae9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.si-header{
  background-color: rgba(0,0,0,0.6);
  min-height: 50px;
}
.si-body{
  background-color: rgba(0,0,0,0.1);
}
.si-footer{
  background-color: rgba(0,0,0,0.3);
  min-height: 50px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#sc-log-sig a{
  color: #FFFFFF;
}
.si-footer h4{
  color: #FFFFFF;
  line-height: 50px;
  margin-left: 20px;
}
#si-btn, #su-btn{
  margin-top: 8px;
}
#sub_foot{
  margin-top: -1px;
}
.s-panel-head-tx{
  text-align: center;
  color: #FFFFFF;
  margin-top: 15px;
  padding-top: 15px;
}
.frm-lable{
  margin-top: 10px;
  color: #FFFFFF;
}
input[type="checkbox"]{
  margin-top: 2px !important;
  margin-left: 0px !important;
}
.panel-default {
  width: 575px !important;
}
.fa {
    margin-right: 0px !important;
}
.ui.toggle{
  padding-left: 0px !important;
}
.ui.toggle label{
  color: #ffffff !important;
}
#fgt-pwd{
  text-align: right;
  padding-right:0px;
}
@media only screen and (max-width: 767px) {
  #bg1{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #rem-me, #fgt-pwd, #ft-txt{
    text-align: center!important;
  }
  #sc-log-sig .img-gp, #sc-log-sig .img-fb, #sc-log-sig .img-tw{
      display: block;
      width: auto;
      background-size: 50px 50px !important;
      word-wrap: break-word !important;
      background-position: center 60% !important;
  }#m-con{
    margin: 0px;
  }
}
@media only screen and (max-width: 320px) {
  #sc-log-sig .img-gp, #sc-log-sig .img-fb, #sc-log-sig .img-tw{
    background-position: center 82% !important;
    font-size: 13px;
  }#m-con{
    margin: 0px;
  }
}
