* {
    box-sizing: border-box;
}
body{
    background-color: #F4F4F4;
    margin: 0px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    color: #1d2129;
}
::selection { background-color: #E13300; color: #FFFFFF;}
::-moz-selection { background-color: #E13300; color: #FFFFFF;}
a{
    text-decoration: none;
}

#overlay-wrapper{
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    z-index: 900;
    background-color: rgba(0, 0, 0, .75);
}

#overlay-content-box{
    width: 80%;
    height:50%;
    position: fixed;
    left: 45%;
    top: 45%;
    bottom: 45%;
    right: 45%;
    z-index: 905;
    overflow: hidden;
}
#topBar{
    background-color: rgba(153, 0, 102, 0.8);
    height: 55px;
    padding: 5px 0px;
}
#topBarContent{
    margin-top: 0px;
    border: none;
    /*background-color: #990066;*/
}
#topBarContent ul{
    margin-top: -8px;
}
/*#topBarContent ul #prof_pg{
    background-color: rgba(153, 0, 102, 0.8);
}*/

#topBarContent ul #lg_out {
    margin-left: 0px;
    padding: 10px 0px;
    border-radius: 0px 0px 3px 3px;
    background-color: rgba(145, 43, 111, 0.8);
    font-size: 0.94225rem;
}
#topBarContent ul #lg_out a{
   opacity: 1;
}
#topBarContent ul i{
    margin-right: 5px;
}
#topBarContent ul i.right{
    /*margin-left: 15px;
    margin-right: 0px;*/
    right: -20%;
    position: relative;
}
#topBarContent ul .menu a .label{
    margin-right: 0px;
    margin-left: 20px;
}
/*.visual-area-topbar{

    width: 60px !important;
    height: 60px !important;
    float: left;
/*    margin: 0 6px !important; */
/*      padding: 0px !important;
}*/


/********************* Login/Signup style start *********************/
#signup-panel, #signin-panel{
    width: 600px;
}
.row-panel{
    margin-bottom: 15px;
}
.signin-action-panel{
    height: 35px;
}
.sign-link-panel{
    float: left;
}
.button-panel{
    float: right;
    position: relative;
}
#signup-panel,#signin-panel .btn{
    font-size: 13px;
}
/********************* Login/Signup style end *********************/

/********************* Search style start *********************/
#search-con{
    background-color: #3863A0;
    padding: 10px;
}
#adSearch{
    background-color: rgba(0, 0, 0, 0.25);
}
#adSearchCon{
    padding: 10px;
}
#adSearch #ad_search, #adSearch #search_cat, #adSearch #search_sub_cat{
    height: 38px;
    width: 100%;
    margin: 2px 0px;
    padding: 5px 0px 5px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#adSearch #search_cat, #adSearch #search_sub_cat, #adSearch #main_sbtn{
    float: none;
}
#adSearch #search_cat, #adSearch #search_sub_cat{
    width: 100%;
    padding: 0px;
}
#adSearch #search_cat_chosen, #adSearch #search_sub_cat_chosen{
    width: 100% !important;
    margin: 2px 0px;
    padding: 0px;
}
#adSearch #search_cat_chosen .chosen-single, #adSearch #search_sub_cat_chosen .chosen-single{
  height: 38px;
  line-height: 35px;
}
.chosen-single div b{
  background-position: 0 10px !important;
}

#main_s_b{
    margin-top: 2px;
    width: 100%;
    height: 38px;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}
/********************* Search style end *********************/
#topLinks{
    float: left;
}
#topLinks ul{
    list-style: none;
    margin: 0px;
}
#topLinks ul li{
    float: left;
}
#topLinks ul li a{
    padding: 0px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 40px;
    border-right: 1px solid #FFFFFF;
}
#topLinks ul li:last-child a{
    border-right: none;
}
#main-con{
    margin-top: 55px;
}

#postAdButton{
    float: right;
}
#promoBar{
    margin-bottom: 5px;
    background-color: #96BF49;
    height: 50px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0px 0px 5px 5px;
}
#promoBar ul{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
#promoBar ul li{
    padding: 0px 10px;
    float: left;
    width: auto;
    text-align: center;
    left: 0px;
    line-height: 50px;
}
#promoBar ul li:hover{
    background-color: #233E99;
}
#promoBar ul a li{
    color: #FFFFFF;
}

#mainIntro{
    color: #ffffff;
    overflow: auto;
}

#introTxt{
    background-color: rgba(0,0,0,0.6);
    padding: 0px 10px;
    border-radius: 4px;
    float: left;
}

#leftCol, #contentArea, #rightCol{
     /* temporary value */
    border-radius: 3px;

}

#leftCol_list{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 5px;
    float: left;
    background-color: #222D31;
}
#leftCol h3#cat-head, #leftCol_list h3#cat-head{
    margin: 0px;
    padding: 10px 0px;
    /*background-color: #009BCB;*/
    background-color: #990066;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.0em;
}
#leftCol ul, #leftCol_list ul{
    list-style: none;
    padding: 0px;
}
#leftCol ul li, #leftCol_list ul li{
    padding: 2px 2px 2px 0px;
    line-height: 30px;
    color: #990066;
    font-size: 11.5px;
    font-weight: 600;
    border-left: 3px solid transparent;
    cursor: pointer;
}
#leftCol ul li a, #leftCol_list ul li a{
    color: #990066;
}
#leftCol ul li:hover, #leftCol ul li:hover > i, #leftCol_list ul li:hover, #leftCol_list ul li:hover > i{
    color: #FFFFFF;
}
#leftCol ul li:hover a{
  color: #FFFFFF;
}
#leftCol ul li a:hover, #leftCol ul li a:hover > i, #leftCol_list ul li a:hover, #leftCol_list ul li a:hover > i{
    color: #FFFFFF;
}
#leftCol ul li:hover, #leftCol_list ul li:hover{
    border-left: 3px solid #FF4500;
    background-color: #1E282C;
}
#leftCol ul li i, #leftCol_list ul li i{
    /*margin: auto 10px auto 0px;
    width: 20px;
    color: #B8C7CE;
    margin-right: 5px;*/
}
/*#contentCol{
    margin-left: 220px;
    overflow: auto;
}*/
#contentArea{
    padding: 0px 15px;
    overflow: auto;
}
#rightCol{
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    background-color: #FFFFFF;
    float: right;
}
#rightCol p#sp{
    color: #9197A3;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#toolWidget{
    position: absolute;
    height: 500px;
    width: 200px;
    left: 0px;
    top: 55px;
    background-color: rgba(53, 124, 165, 0.3);
    transition: 1s;
}
#toolWidget:hover {
    background-color: #3C8DBC;
}

    #postad_btn .ui.orange.button{
        padding: 10px 12px;
        margin-top: -6px;
        background-color: orangered;
    }



/************** footer ***********************/
#sub_foot{
  margin-top: 10px;
  height: 200px;
  background-color: #333;
}
#end_foot{
  text-align: center;
  background-color: #3F3F3F;
  color: #777;
  line-height: 50px;
  font-size: 13px;
}
#end_foot a{
  color: #777;
}
#end_foot:hover, #end_foot a:hover{
  color: #FFFFFF;
}
/******************* Post ad ********************/

#post_ad_btn {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
}

/* #post_ad_btn
------------------------ */
#post_ad_btn {
  position: relative;
  float: left;
  margin-left: -24px;
  left: 50%;
  max-width: 50em;
}
@media screen and (min-width: 41em) {
  #post_ad_btn {
    float: left;
    left: 0;
  }
}

#post_ad_btn ul {
  position: relative;
  float: left;
  left: -50%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;

}
@media screen and (min-width: 41em) {
  #post_ad_btn ul {
    float: right;
    left: 0;
    margin-left: 0px;
    margin-right: 9px;
    margin-top: -3px;
    padding-left: 15px;
  }
}

#post_ad_btn li {
  float: left;
  position: relative;
  background: #ff6329;
}

#post_ad_btn ul li a {
  text-decoration: none !important;
  display: block;
  padding: 1em;
  line-height: 2.7em;
  color: #FFFFFF !important;
}

/* Here we go! Time to skew. */
#post_ad_btn li {
  transform: skewx(-20deg);
  transition: background .2s ease, color .2s ease;
}


/* Text, unskew thyself! (But unskeweth not the clickable areas.) */
#post_ad_btn span {
  display: block;
  transform: skewx(20deg);
}


#sc-log-sig a{
    text-align: center;
    cursor: pointer;
}
#sc-log-sig .img-gp, #sc-log-sig .img-fb, #sc-log-sig .img-tw{
    display: block;
    height: 120px;
    width: 150px;
    background-size: 60px 60px !important;
    background-position: center 50% !important;
}
#sc-log-sig .img-gp{
    background: url(https://www.bestway.lk/img/icons/gp.png) no-repeat;
}
#sc-log-sig .img-fb{
    background: url(https://www.bestway.lk/img/icons/fb.png) no-repeat;
}
#sc-log-sig .img-tw{
    background: url(https://www.bestway.lk/img/icons/tw.png) no-repeat;
}


/********************************* CLASSES *********************************/
.navbar{
    margin-bottom: 0px !important;
    border: none !important;
}
.navbar-default .navbar-nav > li{
    margin-top: 5px;
}
.navbar-default .navbar-nav > li > a, #prof_pg > #tp_prf_img_con > a {
    color: #EFEFEF !important;
    padding-bottom: 10px !important;
}
.navbar-default .navbar-nav > li > a:hover, #prof_pg > #tp_prf_img_con > a:hover {
    color: #FFFFFF !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: transparent !important;
}
.navbar-brand img{
    margin-left: -15px;
    margin-top: 0px;
    width: 190px;
}
@media screen and (min-width: 320px) {
  .navbar-brand img{
      margin-left: 0px !important;
  }
}

.tp_prf_img{
    width: 40px !important;
    height: 40px;
    border-radius: 50px;
    margin-top: 4px;
    margin-right: 10px;
    float: left;
}
.tp_prf_nm{
    float: left;
    line-height: 50px;
}

.main-wrap{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.loader {
  margin: 0 auto;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  display: inline-block;
  vertical-align: middle;
}
.search_control:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
@media (min-width: 1200px) {
  .maxmarg {
    margin: 0px 5px 0px 0px;
  }
}
.global-page #adSearch{
    border: 1px solid #d3e0e9;
}
.global-page #adSearchCon{
    padding: 6px;
}
.search-items{
    padding: 2px !important;
}
.miniSlogan{
    margin-top: 10px;
    color: #4D4D4D;
    text-align: center;
    font-size: 25px;
}
/*.globalCon{
    width: 1170px;
    margin: 0px auto;
}*/
.pg_pr_name{
  max-width: 350px;
}
.ad{
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 5px;
    height: 515px;
    width: 48%;
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    background-color: #FFFFFF;
    float: left;
}
/*@media (min-width: 1280px) {
  .ad {
    width: 49.233%;
  }
}*/
@media (min-width: 980px) {
  /*.ad:nth-child(odd){
    margin-right: 10px;
  }*/
  .ad:nth-child(2n){
    margin-left: 5px;
  }
}
@media (max-width: 980px) {
  .ad {
    width: 48%;
    height: 562px;
  }
}
@media (max-width: 425px){
  .ad {
      width: 100%;
      height: 558px;
  }
}
@media (max-width: 412px){
  .ad {
      width: 100%;
      height: 611px;
  }
}
@media (max-width: 375px) {
  .ad {
    width: 100%;
    height: 557px;
  }
}
@media (max-width: 360px) {
  .ad {
    width: 100%;
    height: 537px;
  }
}
@media (max-width: 320px) {
  .ad {
    width: 100%;
    height: 479px;
  }
}
.ad img{
    width: 100%;
}
.sp_ad{
}
.ad h1, .ad h2, .sp_ad h1, .sp_ad h2{
    padding: 0px;
    margin: 0px;
}
.ad h1 a, .sp_ad h1 a{
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.00rem;
}
.ad h2 a{
      color: #141823;
      cursor: pointer;
      text-decoration: none;
      font-size: 12px;
}
.ad h2 span, .sp_ad p.ad_desc{
    color: #9197A3;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}
.postAdBtn {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:10px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.postAdBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.postAdBtn:active {
    position:relative;
    top:1px;
}
.banner{
    max-width: 655px;
}

.mainSearch {
    padding: 6px 15px;
    /*width: 485px;*/
    border: 0px solid #DBDBDB;
}
.searchButton {
    position: relative;
    padding: 5px 15px;
    left: 2px;
    border: 2px solid #207CCA;
    background-color: #FFB932;
    font-weight: 600;
    width: 85px;
    line-height: 17px;
    color: #000;
}
.searchButton:hover  {
    background-color:#fafafa;
    color:#207cca;
}
    .button.is-green_candy {
        padding: 15px 60px;
        font-size: 16px;
        font-weight: 600;
        background: #3dbe8b;
        background: -webkit-linear-gradient(#43c692,#39b885);
        background: linear-gradient(#43c692,#39b885);
        border: 1px solid #1f7c57;
        box-shadow: inset #4fd3aa 0 1px;
        text-shadow: #1c8f3d 0 1px 0;
        color: #ffffff;
        text-decoration: none;
        border-radius: 4px;
        text-transform: uppercase;
        -webkit-transition: background 150ms;
        transition: background 150ms;
        position: relative;
        cursor: pointer;
    }
    .button.is-green_candy:hover {
        background:#2baa78;
        background:-webkit-linear-gradient(#33B481,#23A06E);
        background:linear-gradient(#33B481,#23A06E);
    }
.f_border_b{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}
/*==================================================
     * Effect 2
     * ===============================================*/
.shadow
{
  position: relative;
}
.shadow:before, .shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/*.fa{
    margin-right: 15px !important;
}*/
.ui.purple{
    background-color: #990066 !important;
}
.ui.orange{
    background-color: #FF4500 !important;
}
.ui.purple:hover{
    background-color: #660044 !important;
}

 .shdw {
    position: relative;
}
.shdw:after {
    /*z-index: -1;
    position: absolute;
    content: "";
    bottom: 8px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 92%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);*/

        z-index: -1;
position: absolute;
content: "";
bottom: 15px;
left: 72px;
width: 50%;
top: 92%;
max-width: 300px;
background: #777;
-webkit-box-shadow: 0 15px 10px #777;
-moz-box-shadow: 0 15px 10px #777;
box-shadow: 0 15px 10px #777;
/* -webkit-transform: rotate(3deg); */
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(-3deg);
}

  .AnimalsPetSupplies, .OfficeSchoolSupplies, .Properties, .ReligiousCeremonial, .SecurityProtection,
  .Services, .Software, .SportingGoods, .ToysGames, .VehiclesParts,
  .WeddingsEvents, .ApparelAccessories, .Antiques, .BusinessIndustrial, .Finance,
  .FlowersGift, .FoodBeverages, .Furniture, .Hardware, .HealthBeauty,
  .HomeGarden, .Jobs, .ArtsHobbies, .LuggageBags, .Media,
  .MotherKids, .NoveltySpecialUse, .CamerasOptics, .CraftsPaintingsPottery, .Education,
  .Electronics, .Entertainment, .HotelsTravel
  { display: inline-block; background: url("https://www.bestway.lk/img/adpost/adselectbx.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

  .AnimalsPetSupplies{ background-position: -5px -0px; width: 64px; height: 64px; }
  .OfficeSchoolSupplies{ background-position: -74px -0px; width: 64px; height: 64px; }
  .Properties{ background-position: -143px -0px; width: 64px; height: 64px; }
  .ReligiousCeremonial{ background-position: -212px -0px; width: 64px; height: 64px; }
  .SecurityProtection{ background-position: -281px -0px; width: 64px; height: 64px; }
  .Services{ background-position: -5px -69px; width: 64px; height: 64px; }
  .Software{ background-position: -74px -69px; width: 64px; height: 64px; }
  .SportingGoods{ background-position: -143px -69px; width: 64px; height: 64px; }
  .ToysGames{ background-position: -212px -69px; width: 64px; height: 64px; }
  .VehiclesParts{ background-position: -281px -69px; width: 64px; height: 64px; }
  .WeddingsEvents{ background-position: -5px -138px; width: 64px; height: 64px; }
  .ApparelAccessories{ background-position: -74px -138px; width: 64px; height: 64px; }
  .Antiques{ background-position: -143px -138px; width: 64px; height: 64px; }
  .BusinessIndustrial{ background-position: -212px -138px; width: 64px; height: 64px; }
  .Finance{ background-position: -281px -138px; width: 64px; height: 64px; }
  .FlowersGift{ background-position: -5px -207px; width: 64px; height: 64px; }
  .FoodBeverages{ background-position: -74px -207px; width: 64px; height: 64px; }
  .Furniture{ background-position: -143px -207px; width: 64px; height: 64px; }
  .Hardware{ background-position: -212px -207px; width: 64px; height: 64px; }
  .HealthBeauty{ background-position: -281px -207px; width: 64px; height: 64px; }
  .HomeGarden{ background-position: -5px -276px; width: 64px; height: 64px; }
  .Jobs{ background-position: -74px -276px; width: 64px; height: 64px; }
  .ArtsHobbies{ background-position: -143px -276px; width: 64px; height: 64px; }
  .LuggageBags{ background-position: -212px -276px; width: 64px; height: 64px; }
  .Media{ background-position: -281px -276px; width: 64px; height: 64px; }
  .MotherKids{ background-position: -5px -345px; width: 64px; height: 64px; }
  .NoveltySpecialUse{ background-position: -74px -345px; width: 64px; height: 64px; }
  .CamerasOptics{ background-position: -143px -345px; width: 64px; height: 64px; }
  .CraftsPaintingsPottery{ background-position: -212px -345px; width: 64px; height: 64px; }
  .Education{ background-position: -281px -345px; width: 64px; height: 64px; }
  .Electronics{ background-position: -5px -414px; width: 64px; height: 64px; }
  .Entertainment{ background-position: -74px -414px; width: 64px; height: 64px; }
  .HotelsTravel{ background-position: -143px -414px; width: 64px; height: 64px; }

  .ad_sel_bx{
    border-bottom: 3px solid transparent !important;
    transition: border-bottom 1s ease;
  }
  .ad_sel_bx:hover, .bx_clicked{
    border-bottom: 3px solid #FF4500 !important;
  }

.post_buy {
  background: #31B0D5 !important;
}
.adtime{
  color: #90949c;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}
.fa.w-pad{
  margin-right: 10px !important;
}

/****** top horizontal menu **********/
#top-v-men{
  background-color: #3863A0;
}
#top-v-men .ui.menu{
  border-radius: 0px;
  background-color: #3863A0;
}
#top-v-men .ui.menu .fa{
  color: #FFFFFF;
}

.wb{
  border: 1px solid #d3e0e9;
  border-radius: 3px;
}
.news-cat{
  border-bottom: 2px solid #ff3d2e;
}
.news-wrap{
  padding: 15px;
  background-color: #fff;
  margin-bottom: 15px;
}
.news-con{
  padding-left: 0px !important;
  text-align: justify;
}
.news-img-con img{
  width: 100% !important;
}
.news-con .news-cat h4{
  font-size: 16px;
  color: #FFF;
  background: #ff3d2e;
  font-weight: 700;
  padding: 6px 20px;
  background: #ff3d2e;
  display: inline-block;
  text-transform: initial;
}
.news-head-con{
  margin: 10px 0px;
  height: 40px;
  overflow: hidden;
}
.news-date-time{
  font-size: 11px;
  margin-bottom: 5px;
  color: #9a9a9a;
}
.news-date-time .news-date{
  margin-right: 10px;
}